<ion-view ng-controller="WatchListDetailCtrl as vm">
    <ion-nav-bar class="bar bar-header bar-stable">
        <ion-nav-back-button class="button button-clear">
            <i class="ion-chevron-left"></i> back
        </ion-nav-back-button>
        <ion-nav-title>
            <a class="button button-clear ion-ios7-location-outline"
               ui-sref="tab.location-map({id:vm.itemId})" ng-click="vm.getLocation()">Map View </a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-clear" ui-sref="refine"> Refine</a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="list">
            <div class="item item-divider item-positive item-button-right">
                Result for
                <button class="button button-light button-clear">
                    <small>4 found | sort</small>
                </button>
            </div>
        </div>
        <div class="card">
            <!--<div class="item item-checkbox">-->
                <!--<h2>{{vm.following ? "Following" : "Not Following"}}</h2>-->
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox" ng-model="vm.following">-->
                <!--</label>-->
            <!--</div>-->

            <!--<div class="item item-toggle">-->
                <!--<h2>{{vm.following ? "Following" : "Not Following"}}</h2>-->
                <!--<label class="toggle toggle-energized">-->
                    <!--<input type="checkbox" ng-model="vm.following">-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</div>-->
            <button class="button button-clear"
                    ng-click="vm.toggleFollow()"
                    ng-class="{'ion-star':vm.following,'ion-ios7-star-outline button-clear':!vm.following}">
                {{vm.following ? "Favourite" : "Not Favourite"}}
            </button>
        </div>

        <div class="list" ng-model="vm.itemDetail">
            <div class="item">
                <h2>{{vm.itemDetail.Title}}</h2>

                <p>{{vm.itemDetail.Description}}</p>
            </div>
        </div>

        <div class="bar bar-dark">
            <a ui-sref="my-alert" class="button button-clear"> Set up Alert </a>
        </div>

        <div class="list">

            <div class="item item-divider item-positive item-button-right">Other Web Site</div>
            <a class="item item-icon-right"
               href="#"> Kijiji
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a class="item item-icon-right"
               href="#">UsedOttawa
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>

    </ion-content>
</ion-view>
